<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>global room</title>
    <link rel="stylesheet" href="https://static.yeskn.com/bootstrap.min.css">
    <script src="https://static.yeskn.com/jquery.min.js"></script>
    <script src='//cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>

    <style>
        body {
            width: 700px;
            margin: 50px auto;
        }

        #btn,#clear,#change{
            cursor: pointer;
        }

        p.cu {
            border-bottom: 1px solid #eee;
        }
    </style>
</head>
<body>


<p class="cu">当前群组成员(共<span class="count"></span>人) : <span class="users"></span></p>

<div class="input-group input-group-lg">

    <input name="message" type="text" class="form-control" placeholder="请输入你需要说的话" aria-describedby="sizing-addon1">
    <span class="input-group-addon" id="btn">发送</span>
    <span class="input-group-addon" id="clear">清屏</span>
</div>


<div class="message-box">
    <div class="line">
        <p class="user"></p>

        <p class="content"></p>
    </div>
</div>

<script>

    var G_NAME = prompt('请输入您的名字：');
    var G_TYPE = 'add';

    var ws = new WebSocket("ws://{{ socket_host }}:{{ socket_port }}");
    ws.onopen = function () {
        console.log("握手成功");
        var message = {
            message : '',
            type: 'add',
            username: G_NAME
        };
        ws.send(JSON.stringify(message));
    };
    ws.onerror = function () {
        console.log("error");
    };
    ws.onmessage = function (e) {
        var data = $.parseJSON(e.data);
        console.log(data);
        if(data.add || data.leave){
            var users = data.users;
            var user_html = users.join(',');

            $("span.users").html(user_html);
            $("span.count").html(users.length);
        }
        var reg = new RegExp("^:.*");
        if(reg.test(data.content)){
            data.content = "2333"+data.content;
        }
        $("div.message-box").append(' <div class="line">' +
                '<p class="user"></p>' +
                '<p class="content">' +
                '' + data.content +
                '</p>' +
                '</div>');
    };


    $("#btn").click(function () {
        G_TYPE = 'long';
        var $input =  $("input[name='message']");
        var message = {
            message : $input.val(),
            type : G_TYPE,
            username: G_NAME
        };
        ws.send(JSON.stringify(message));
        $input.val("");
    });

    $("#clear").click(function () {
        $(".message-box").html("");
    });

    $(function () {
        $("input[name='message']").focus();
    });

    $(document).keydown(function (event) {
        if (event.keyCode == 13) {
            $("#btn").trigger('click');
        }
    })

    /// socket.io start

    $(document).ready(function () {

        var uid = new Date();


        var socket = io('http://'+document.domain+':2120');

        socket.on('connect', function(){
            socket.emit('login', uid.toDateString());
        });

        socket.on('new_msg', function(msg){
            $('#content').html('收到消息：'+msg);
            $('.notification.sticky').notify();
        });

        socket.on('update_online_count', function(online_stat){
            $('#online_box').html(online_stat);
        });
    });
</script>

</body>
</html>
